.git
.terraform
**/.terraform
*.tfstate
*.tfstate.*
.terraform.lock.hcl

data
outputs
aws_edge_benchmark_results

__pycache__
*.pyc
.pytest_cache
.mypy_cache

.venv
venv
env
face_edge

docs
latex
*.pdf
*.zip
*.tar.gz

